.project
.classpath
.settings/
target/
.vscode/
.idea
*.iml
examples/*.png
examples/*.svg
examples/*.atxt
examples/*.eps
examples/*.html
examples/*.latex
examples/*.scxml
examples/*.utxt
examples/*.vdx
examples/*.gz
examples/*.xmi
examples/*.pdf
